.msg__welcome {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.msg__welcome h1 {
  font-size: 42px;
  font-weight: 400;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.msg__welcome p {
  font-size: 24px;
  color: var(--text-muted);
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.form_control label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: black;
}

.form_control input {
  background-color: var(--background);
  border: 1px solid var(--secondary);
  padding: 15px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
  max-width: 500px;
}

.table_container {
  overflow-x: auto;
}

.shortcut_guide {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid var(--secondary);
  font-size: 0.95rem;
  background-color: var(--secondary);
}

.shortcut_guide h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.shortcut_guide ul {
  list-style: none;
  padding: 0;
}

.shortcut_guide li {
  margin-bottom: 4px;
}

.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
}


select {
  outline: none;
  border: 1px solid var(--secondary);
}

.permissions_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

label {
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 8px;
}